#AWS and Class Info
credentials.csv
email_credentials.txt
*.pem
.DS_Store
*.docx
*.csv
hosts.txt
*.jpeg
*.jpg
*.h5
*.hdf5
*.h*
*instance_IDs.txt
*users_debug.csv


# pycharm
*idea*
*__pycache__*

# Jupyter
*checkpoint*
data/

# Random
*.~lock*
